.search {
    -webkit-appearance: none;
    border: rgba(56, 54, 54, 0.87) solid;
    outline: none;
    padding: 8px;
    width: 250px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }